<!-- Made with https://buttons.github.io/ -->

<div class="text-center">
    <a class="github-button" href="https://github.com/fkie-cad/COMIDDS/subscription" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch fkie-cad/COMIDDS on GitHub">Watch</a>
    <a class="github-button" href="https://github.com/fkie-cad/COMIDDS" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star fkie-cad/COMIDDS on GitHub">Star</a>
</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>